@{
    Layout = "_budgetLayout";
    ViewBag.Title = "Add Income";
    ViewBag.AccountName = Model.AccountName;
    ViewBag.AccountImage = Model.AccountImage;
}

@model sstocker.budget.ViewModels.AddIncomeModel
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Add Income
        </h6>
    </div>
    <div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <input id="SourceInput" list="SourceList" style="width: 100%;" class="form-control form-control-user" placeholder="Enter Source...">
            <datalist id="SourceList">
                @for (int x = 0; x < Model.IncomeSources.Count; x++)
                {
                    <option value="@Model.IncomeSources[x]" />
                }
            </datalist>
        </div>

        <br />

        <div class="form-row">
            @Html.DropDownList("TypeInput", new SelectList(Model.Types), "Select Income Type...", new { @class = "form-control" })
        </div>

        <br />

        <div class="form-row">
            <div class="input-group hide-inputbtn">
                <input placeholder="Enter Amount..." id="AmountInput" type="number" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control form-control-user currency" />
            </div>
        </div>

        <br />

        <div class="form-row">
            <input id="DateInput" type="date" style="width: 100%;" class="form-control form-control-user">
        </div>

        <br />
        <span class="btn btn-primary" style="width: 100%" onclick="SaveIncome()">Save</span>
        <br />
        <br />
        <span class="btn btn-secondary" style="width: 100%" onclick="window.location.href='@Url.Action("Index", "Home")';">Cancel</span>
    </div>
</div>

<script>
        $(document).ready(function () {
            //Set default date to today
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("DateInput").value = today;
        });

        function SaveIncome() {
            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("SaveIncome", "Income")',
                    data: {
                        source: $('#SourceInput').val(),
                        type: $('#TypeInput').val(),
                        amount: $('#AmountInput').val(),
                        date: $('#DateInput').val(),
                    },
                    error: function () {
                        alert("There is a Problem, Try Again!");
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.status == true) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        }
                        else {
                            alert(result.message);
                        }
                    }
                });
        }
</script>