@{
    Layout = "_wishlistLayout";
    ViewBag.Title = "Shared Lists";
    ViewBag.AccountName = Model.AccountName;
    ViewBag.AccountImage = Model.AccountImage;
}
@model sstocker.wishlist.ViewModels.SharedListsViewModel

@for (int i = 0; i < Model.SharedWishLists.Count; i++)
{
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                @Model.SharedWishLists[i].Name's Wishlist
            </h6>
        </div>
        <div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @for (int x = 0; x < Model.ColumnNames.Count; x++)
                            {
                                <th>@Model.ColumnNames[x]</th>
                            }
                            <th width="1%">Buy/BoughtBy</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int x = 0; x < Model.SharedWishLists[i].WishList.Count; x++)
                        {
                            <tr>
                                @for (int y = 0; y < Model.ColumnNames.Count; y++)
                                {
                                    @if (Model.SharedWishLists[i].WishList[x].IsBought)
                                    {
                                        <td style="background-color: darkred;"><font color="white">@Html.Raw(@Model.SharedWishLists[i].GetColumn(x, y))</font></td>
                                    }
                                    else
                                    {
                                        <td>@Html.Raw(@Model.SharedWishLists[i].GetColumn(x, y))</td>
                                    }
                                }
                                @if (Model.SharedWishLists[i].WishList[x].IsBought)
                                {
                                    <td style="background-color: darkred;"><font color="white">@Model.SharedWishLists[i].WishList[x].GifterAccountName</font></td>
                                }
                                else
                                {
                                    <td>
                                        <a href="" class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#buyItemModal"
                                           data-wishlistid="@Model.SharedWishLists[i].WishList[x].WishlistId" data-itemname="@Model.SharedWishLists[i].WishList[x].Name" data-gifteename="@Model.SharedWishLists[i].Name">
                                            <span class="text">Buy</span>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}




<!-- Add Transfer Modal-->
<div class="modal fade" id="buyItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buy <label id="ItemNameTitle"></label></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Have you bought <label id="ItemName"></label> for <label id="GifteeName"></label>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" id="buyItemModalModalButton">Yes</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
    $('#buyItemModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var wishlistId = button.data('wishlistid') // Extract info from data-* attributes
        var itemName = button.data('itemname') // Extract info from data-* attributes
        var gifteeName = button.data('gifteename') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        $("#ItemName").text(itemName);
        $("#ItemNameTitle").text(itemName);
        $("#GifteeName").text(gifteeName);
        var button = document.getElementById("buyItemModalModalButton");
        document.getElementById("buyItemModalModalButton").onclick = function () {
            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("BuyWishlistItem", "List")',
                    data: {
                        wishlistid: wishlistId
                    },
                    error: function () {
                        alert("There is a Problem, Try Again!");
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.status == true) {
                            window.location.href = '@Url.Action("SharedLists", "List")';
                        }
                        else {
                            alert(result.message);
                        }
                    }
                });
        }
    });
</script>